.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;
}

.login-box {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
}

.login-box h1 {
  margin-bottom: 20px;
}

.login-box label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: 600;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  margin-bottom: 15px;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-sizing: border-box;
}

.password-wrapper {
  position: relative;
}

.toggle-eye {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background: #0056b3;
}
label{
    text-align: center;
}